:root {
  --panel__form--height: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul {
    list-style: none;
}

body{
  /* height: 100vh; */
  background-image: linear-gradient(to right bottom, #77c7ac, #5ec5bd, #4cc1ce, #4cbcdd, #5fb5e6, #62b8ec, #65bcf2, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Poppins', sans-serif;
}



.input{
  border-radius: 10px;
  border-color: transparent;
  background-color: rgba(214, 234, 248, 0.3);
  /* color: rgb(214, 234, 248); */
  padding: 3px 5px;
  outline: none;
  color: white;
}




/* PANEL SECTION */

.panel {
  position: relative;
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

@media (max-width: 1000px ){
  .panel {
    padding: 0 0;
  }
}

/* END PANEL SECTION */




/* PANEL EXCURSIONS */

.panel__excursions {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 10px;
}

@media (max-width: 1000px ){
  .panel__excursions {
    position: absolute;
    top: var(--panel__form--height);
    width: 100%;
    margin: 10px 10px;
}
}

.excursions__item {
  height: 50%;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: calc(50% - 40px);
    background-color: rgb(67, 145, 155, 0.8)
}

@media (max-width: 1000px ){
  .excursions__item {
    width: calc(100% - 40px);
    margin: 20px 10px;
    padding: 20px;
}
}

.excursions__item--prototype{
  display: none;
}

.excursions__header{
  height: 60%;
  text-align:justify;
}

@media (max-width: 1000px ){
  .excursions__header{
    height: 50%;
  }
}

.excursions__title{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.excursions__description{
  color: rgb(236, 240, 241);
  line-height: 1.3;
  margin-bottom: 10%;
}

@media (max-width: 1000px ){
  .excursions__description{
    margin-bottom: 8%;
  }
}

.excursions__field-name{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.excursions__info{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
@media (max-width: 300px ){
  .excursions__info{
    width: 70%;
  }
}


.excursions__field-input{
  width: 15%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: white;
}


.excursions__field--submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  
}

.excursions__field-input--submit{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color:rgba(36, 120, 129, 0.8);
  padding: 20px 30px;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s;
}
@media (max-width: 300px ){
  .excursions__field-input--submit{
    width: 90%;
  }
}

.excursions__field-input--submit:hover{
  background-color:#00FFC6
}

/* END PANEL EXCURSIONS */





/* PANEL FORM */
.panel__form {
    height: 70%;
    width: 30%;
    padding: 20px;
    background-color: rgba(36, 120, 129, 0.7);
}

@media (max-width: 1000px ){
  .panel__form {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
  }
}

.uploader, .order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1000px ){
  .uploader, .order {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.uploader__input::file-selector-button {
  margin-top: 2%;
  background-color: rgb(48, 170, 221);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 20px 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}


.uploader__input--shake{
  animation: shake 3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-3px, -3px) rotate(-1deg); }
  20% { transform: translate(-5px, -2px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(0px, 3px) rotate(-1deg); }
  60% { transform: translate(-3px, 0px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(2px, 2px) rotate(-1deg); }
}

.order__total-price-value{
  color: #00FFC6;
  font-weight: bold;
  font-size: 35px;
}

.order__field-name{
  display: flex;
  width: 100%;
  margin: 8% 0;
}

@media (max-width: 1000px ){
  .order__field-name{
    margin: 2% 0;
  }
}

.order__field-title{
  display: inline-block;
  width: 40%;
}

.order__field-input{
  width: 50%;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.order__field-input:-webkit-autofill{
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #75B2C3 inset;
}


.order__field--submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__field-submit{
  background-color: rgb(0, 255, 198);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 20px 20px;
  margin-top: 5%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s, letter-spacing 0.5s;
}

@media (max-width: 1000px ){
  .order__field-submit{
    padding: 15px 0px;
    margin: 2% 0;
  }
}

.order__field-submit:hover{
  background-color: rgb(255, 133, 179);
  letter-spacing: 2px;
}

/* END PANEL FORM */




/* PANEL SUMMARY */

.summary__item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #75B2C4;
  margin-bottom: 4%;
  padding: 2%;
}

.summary__item--prototype{
  display: none;
}

.summary__btn-remove{
  position: absolute;
  top: -15%;
  right: 2%;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s, transform 0.5s;
}

.summary__btn-remove:hover{
  color: rgb(235, 83, 83);
  transform: scale(1.5) rotate(90deg);
}

.summary__total-price{
  color: #00FFC6;
}

/* END PANEL SUMMARY */



/* TOOLTIP */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext--name{
    bottom: 125%;
    left: 70%;
  }

  .tooltip .tooltiptext--email{
    bottom: 125%;
    left: 70%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip .tooltiptext--visible{
    visibility: visible;
    opacity: 1;
  }
  @media (max-width: 400px){
    .tooltip .tooltiptext--visible{
      visibility: hidden;
    }
  }

  /* END TOOLTIP */



 /* MODAL */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(67, 145, 155);
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  .modal__address, .modal__price{
    color: rgb(0, 255, 198);
    font-weight: bold;
  }
  
  /* The Close Button */
  .closeBtn {
    color: #001D6E;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s;
  }

  
  .closeBtn:hover,
  .closeBtn:focus {
    color: rgb(235, 83, 83);
    transform: scale(1.5) rotate(90deg);
  }

  /* END MODAL */